<a href="https://colab.research.google.com/github/1stagamvir/MiniProject-3-Subset-Selection/blob/main/Mini_Project_3_Subset_Selection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Subset Selection Problem

## 1. Problem Statement:
Find all the subsets from a set of numbers whose sum is zero.

Constraint: Subset size must be 5

Set={-12, -3, -6, 7, 2, -2, 6, 3, 9, -7, -5, -8, 1, 11, -9, -4}

### 1.1 Library inclusion

In [9]:
import random as r

### 1.2 Parameter

In [10]:
Set         = set([-12, -3, -6, 7, 2, -2, 6, 3, 9, -7, -5, -8, 1, 11, -9, -4])
SetSize     = 5
ResultList  = set()    # Store Result List
Iterations  = 1000

### 1.3 Program

In [11]:
for i in range(Iterations):
    # Select number of elements from Set
    Chromosome = r.sample(list(Set),SetSize)

    # Sum the number of elements in the x
    if sum(Chromosome) == 0:
        ResultList.add(tuple(Chromosome))

### 1.4 Print the sets and total count

In [12]:
# Print all the sets whose sum is zero
for r in ResultList:
	print (r)

# Print total sets
print ("\nTotal Sets: ", len(ResultList), "\n")

(-7, 1, 6, -2, 2)
(6, -9, 3, -2, 2)
(-6, 2, 1, -4, 7)
(11, -12, -5, 9, -3)
(2, 7, -12, 11, -8)
(-2, 9, -8, -6, 7)
(3, -5, 11, -7, -2)
(-7, 2, -4, 3, 6)
(-12, -3, 11, 6, -2)
(-8, 11, -2, -7, 6)
(11, -6, -2, -12, 9)
(9, -12, 2, -6, 7)
(-3, 11, -9, -2, 3)
(6, 9, 1, -9, -7)
(11, -9, -4, -7, 9)
(11, -9, -4, 9, -7)
(3, -7, 1, -8, 11)
(-9, 1, 3, -4, 9)
(9, 11, 1, -12, -9)
(-8, 6, -6, 11, -3)
(1, 9, -8, -4, 2)
(-12, 9, -7, 7, 3)
(-9, 2, -2, 6, 3)
(-7, 11, -9, 2, 3)
(1, 7, -3, 2, -7)
(-4, -7, 1, 7, 3)
(11, -3, 3, -9, -2)
(2, 6, -2, -7, 1)
(1, 3, 9, -7, -6)
(7, -9, 11, -5, -4)

Total Sets:  30

## Full Program

In [13]:
import random as r

Set         = set([-12, -3, -6, 7, 2, -2, 6, 3, 9, -7, -5, -8, 1, 11, -9, -4])
SetSize     = 5
ResultList  = set()
Iterations  = 1000


for i in range(Iterations):
    Chromosome = r.sample(list(Set),SetSize)

    if sum(Chromosome) == 0:
        ResultList.add(tuple(Chromosome))


for r in ResultList:
	print (r)


print ("\nTotal Sets: ", len(ResultList))

(-5, 6, -12, 9, 2)
(-5, -6, 7, -7, 11)
(-12, 11, 1, 3, -3)
(-8, 7, 2, -7, 6)
(-7, -3, 1, 3, 6)
(1, 3, -6, 9, -7)
(-12, 2, 7, -6, 9)
(1, -4, 11, -2, -6)
(9, -4, 1, 3, -9)
(9, 7, -3, -4, -9)
(-4, 7, 2, -6, 1)
(-6, 11, -12, 1, 6)
(7, -4, -2, -12, 11)
(-12, 9, -5, 7, 1)
(1, -4, 2, -2, 3)
(-9, 2, 9, -8, 6)
(11, -2, -7, -3, 1)
(-9, -2, 7, 1, 3)
(-9, -5, -2, 7, 9)
(-3, 9, 6, -4, -8)
(-7, 9, -3, -2, 3)
(-7, 9, 6, -9, 1)
(7, -9, -12, 11, 3)
(-3, -6, 11, -4, 2)
(-3, -9, -4, 7, 9)
(2, -5, -2, 11, -6)
(-12, 6, -2, 1, 7)
(11, -9, -2, 3, -3)
(-5, -6, 11, 7, -7)
(-5, 7, -3, 9, -8)

Total Sets:  30